.favoriteButton {
	background: #fb5c00;
	border: none;
	color: #fff;
	border-radius: 50px;
	padding: 6px 24px;
	cursor: pointer;
	transition: all 250ms linear;
	box-shadow: 0 0 8px 0.2px #fb5c00;
	outline: none;
}

.favoriteButton:hover {
	box-shadow: 0 0 14px #fb5c00;
}

.favoriteButton:active {
	box-shadow: 0 0 14px #fb5c00;
}
