@value fav-btn-bg from '../../index.css';
@value fav-btn-text-color from '../../index.css';

.movieWrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	gap: 10px 30px;
	grid-template-areas: 'poster';
	margin-bottom: 20px;
}

.posterWrapper {
	border-radius: 10px;
	overflow: hidden;
	grid-area: poster;
}

.detailsWrapper {
	align-items: stretch;
}

.detailsWrapper h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

.overview {
	margin: 50px 0;
}

.overview p {
	text-align: justify;
	margin: 10px 0;
}
