@value link-color from '../../index.css';
@value link-active-color from '../../index.css';

.navigationList {
	position: relative;
	display: flex;
	/* width: 100%; */
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	padding-top: 20px;
	grid-area: nav;
}

.navigationList::after {
	content: '';
	width: 76%;
	height: 1px;
	background: #d3d3d3;
	position: absolute;
	bottom: 0;
}

.navigationListItem {
	position: relative;
	width: 100%;
	padding-left: 34px;
	margin-bottom: 30px;
}

.navigationLink {
	font-size: 18px;
	text-decoration: none;
	color: #757575;
	outline: none;
	transition: all 250ms linear;
}

.navigationLinkActive {
	color: link-color;
}

.navigationLink::before,
.navigationLinkActive::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: link-color;
	height: 100%;
	width: 5px;
	opacity: 0;
	transition: all 250ms linear;
}

.navigationLinkActive::before {
	opacity: 1;
}

.navigationLink:hover::before,
.navigationLinkActive:hover::before {
	opacity: 1;
}

.navigationLink:hover,
.navigationLink:focus,
.navigationLinkActive:focus {
	color: link-active-color;
}

.home,
.movies,
.persons,
.favorites,
.queue {
	composes: navigationListItem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.home::before,
.movies::before,
.persons::before,
.favorites::before,
.queue::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 6px;
}

.home::before {
	background-image: url('../../assets/svg/home.svg');
}

.movies::before {
	background-image: url('../../assets/svg/film.svg');
}

.persons::before {
	background-image: url('../../assets/svg/play-arrow-triangle-outline-pointing-to-right.svg');
}

.favorites::before {
	background-image: url('../../assets/svg/heart.svg');
}

.queue::before {
	background-image: url('../../assets/svg/cube-of-notes-stack.svg');
}
