@value link-color from '../../index.css';
@value link-active-color from '../../index.css';

.navigationList {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
}

.navigationListItem {
	position: relative;
}

/* .navigationListItem::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	display: block;
	background: link-color;
	height: 5px;
	width: 100%;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.navigationListItem:hover::after {
	opacity: 1;
} */

.navigationLink {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	outline: none;
	transition: all 250ms linear;
}

.navigationLinkActive {
	color: link-color;
}

.navigationLink:hover,
.navigationLink:focus,
.navigationLinkActive:focus {
	color: link-active-color;
}

@media (min-width: 768px) {
	.navigationList {
		width: 40%;
	}
}

@media (min-width: 1440px) {
	.navigationList {
		width: 30%;
	}
}
