@value fav-btn-bg from '../../../index.css';
@value fav-btn-text-color from '../../../index.css';

.movieWrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	gap: 10px 30px;
	grid-template-areas: 'poster';
	margin-bottom: 20px;
}

.posterWrapper {
	border-radius: 10px;
	overflow: hidden;
	grid-area: poster;
}

.detailsWrapper {
	align-items: stretch;
}

.detailsWrapper h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

.overview {
	margin: 50px 0;
}

.overview p {
	text-align: justify;
	margin: 10px 0;
}

.favoriteButton {
	background: #fb5c00;
	border: none;
	color: #fff;
	border-radius: 50px;
	padding: 6px 24px;
	cursor: pointer;
	transition: all 250ms linear;
	box-shadow: 0 0 8px 0.2px #fb5c00;
	outline: none;
}

.favoriteButton:first-child {
	margin-right: 1rem;
}

.favoriteButton:hover {
	box-shadow: 0 0 14px #fb5c00;
}

.favoriteButton:active {
	box-shadow: 0 0 14px #fb5c00;
}
