html {
	box-sizing: border-box;
	/* width: 100vw; */
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
	color: #212121;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 1px 1px;
	grid-template-areas: 'root';
}
/* STOOOOP */
#root {
	display: grid;
	grid-template-columns: 1.9fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 10px 30px;
	grid-template-areas:
		'appBar header header header header header header header'
		'appBar section section section section section section section'
		'appBar section section section section section section section'
		'appBar section section section section section section section'
		'appBar section section section section section section section'
		'appBar section section section section section section section'
		'appBar section section section section section section section'
		'appBar footer footer footer footer footer footer footer';
	grid-area: root;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*
* Variables for global style: using for app color theme
*/

/* Header variables */
@value link-color: #fb5c00;
@value link-active-color: #fb5c00;
@value header-bg: #fb5c00;

/* Person Item variables*/
@value person-item-bg: #f0f0f0;
@value person-vote-bg: #e67e22;

/* Movie Item variables*/
@value movie-item-bg: #f0f0f0;
@value movie-vote-bg: #e67e22;

/* Form variables*/
@value form-bg: #fb5c00;

/* Button variables*/
@value back-btn-wrap-bg: #fb5c00;
@value back-btn-bg: #fff;
@value back-btn-text-color: #000000;
@value back-btn-text-hover-color: #000000;

/* Favorite button variables */
@value fav-btn-bg: #fb5c00;
@value fav-btn-text-color: #000;

/* Additional info variables */
@value add-link-color: #fb5c00;
@value add-link-active-color: #fb5c00;

/* Reviews list variables */
@value review-item-bg: #f5f6fa;

/* Notification variables*/
@value notification-bg: #fb5c00;

/* Loader variables*/
@value loader-bg: #fb5c00;

/* Footer variables*/
