.moviesWrapper {
	grid-area: chat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	margin: 0;
	width: 100%;
	padding: 0 34px;
}

.chatsWrapper::after {
	content: '';
	width: 76%;
	height: 1px;
	background: #d3d3d3;
	position: absolute;
	bottom: 0;
}

.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.title {
	font-weight: 400;
	font-size: 14px;
	color: #757575;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.title::before {
	content: '';
	display: inline-block;
	background-image: url('../../../assets/svg/group.svg');
	width: 20px;
	height: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 6px;
}

.moviesList {
	margin: 30px 0 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.movieItem {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 0 0 44%;
	margin-bottom: 20px;
	position: relative;
}

.movieItem img {
	border-radius: 10px;
}

.movieItem:hover .movieInfo {
	opacity: 1;
}

.movieVote {
	background: #fb5c00;
	border: none;
	color: #fff;
	border-radius: 10px;
	padding: 2px 4px;
	cursor: pointer;
	transition: all 250ms linear;
	box-shadow: 0 0 8px 0.2px #fb5c00;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
}

.movieVote:hover {
	box-shadow: 0 0 14px #fb5c00;
}

.movieInfo {
	width: 200px;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: -30px;
	left: 30px;
	z-index: 1000;
	transition: all 250ms linear;
	padding: 1rem;
	border-radius: 10px;
	color: #fff;
}

.movieTitle {
	/* color: #fff; */
	font-size: 14px;
	line-height: 17px;
	font-weight: 700;
	margin-bottom: 0.4rem;
}

.movieRelease {
	font-size: 12px;
	font-weight: 400;
	/* color: #fff; */
}
